<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hkl.school.dao.QuestionMapper" >
  <resultMap id="BaseResultMap" type="com.hkl.school.pojo.Question" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="images" property="images" jdbcType="VARCHAR" />
    <result column="vedios" property="vedios" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="selects" property="selects" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_time, modified_time, title, content, answer, images, vedios, userid, type,selects
  </sql>

  <select id="selectByTypeAndTitleLikePage" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from school_question
    <where>
      <trim prefixOverrides="and">
        <if test="title!=null">
          title like #{title}
        </if>
        <if test="type!=null">
          and type = #{type}
        </if>
      </trim>
    </where>
    limit #{beginNumber},#{pageSize}
  </select>
  
  <select id="countByTypeAndTitleLike" resultType="int">
    select count(1) from school_question
    <where>
      <trim prefixOverrides="and">
        <if test="title!=null">
          title like #{title}
        </if>
        <if test="type!=null">
          and type = #{type}
        </if>
      </trim>
    </where>
  </select>

  <select id="selectByLastQid" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from school_question
    where id > #{qid} and type = #{type} order by id asc limit 1
  </select>

  <select id="selectRandomByType" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> , RAND() as r
    from school_question where type = #{type}
    order by r limit 0,#{number}
  </select>

  <select id="selectByTypePage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from school_question
    where type = #{type}
    limit #{beginNumber},#{pageSize}
  </select>

  <select id="selectFromBookMarkByUid" resultMap="BaseResultMap">
    select
    q.id, q.create_time, q.modified_time, q.title, q.content, q.answer, q.images, q.vedios, q.userid, q.type,q.selects
    from
    school_question q,school_bookmark b where q.id = b.qustion_id and b.user_id = #{uid}
    limit #{beginNumber},#{pageSize}
  </select>
  
  <select id="countFromBookMarkByUid" parameterType="java.lang.Long" resultType="int">
    select
    count(1)
    from
    school_question q,school_bookmark b where q.id = b.qustion_id and b.user_id = #{uid}
  </select>

  <select id="selectIdsByType" resultType="java.lang.Long" parameterType="java.lang.String">
    select id from school_question where type = #{type};
  </select>

  <select id="selectByIds" resultMap="BaseResultMap" parameterType="java.util.List">
    select
    <include refid="Base_Column_List"/>
    from school_question
    where id in
    <foreach collection="ids" open="(" item="idItem" separator="," close=")">
      #{idItem}
    </foreach>
  </select>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hkl.school.pojo.QuestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from school_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from school_question
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from school_question
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hkl.school.pojo.QuestionExample" >
    delete from school_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hkl.school.pojo.Question" >
    insert into school_question (id, create_time, modified_time, 
      title, content, answer, 
      images, vedios, userid, 
      type)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP}, 
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, 
      #{images,jdbcType=VARCHAR}, #{vedios,jdbcType=VARCHAR}, #{userid,jdbcType=BIGINT}, 
      #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hkl.school.pojo.Question" >
    insert into school_question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifiedTime != null" >
        modified_time,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="images != null" >
        images,
      </if>
      <if test="vedios != null" >
        vedios,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="selects != null">
        selects,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="images != null" >
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="vedios != null" >
        #{vedios,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="selects!=null">
        #{selects,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hkl.school.pojo.QuestionExample" resultType="java.lang.Integer" >
    select count(*) from school_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update school_question
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedTime != null" >
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.answer != null" >
        answer = #{record.answer,jdbcType=VARCHAR},
      </if>
      <if test="record.images != null" >
        images = #{record.images,jdbcType=VARCHAR},
      </if>
      <if test="record.vedios != null" >
        vedios = #{record.vedios,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update school_question
    set id = #{record.id,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      title = #{record.title,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      answer = #{record.answer,jdbcType=VARCHAR},
      images = #{record.images,jdbcType=VARCHAR},
      vedios = #{record.vedios,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=BIGINT},
      type = #{record.type,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hkl.school.pojo.Question" >
    update school_question
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="images != null" >
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="vedios != null" >
        vedios = #{vedios,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hkl.school.pojo.Question" >
    update school_question
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      images = #{images,jdbcType=VARCHAR},
      vedios = #{vedios,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=BIGINT},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>